Repository onichan00/flo-school-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

.gitlab-ci.yml:

stages:
  - deploy

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - main
    changes:
      - "frontend/**/*"
  script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://railway.app/install.sh | sh
    - export RAILWAY_TOKEN=963abe25-642a-4bfc-ba20-6a60a7f2892d
    - cd frontend
    - railway up --service=helios-fe-app -d

deploy_be:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - main
    changes:
      - "backend/**/*"
  script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://railway.app/install.sh | sh
    - export RAILWAY_TOKEN=91a8fde9-8775-4b9d-bc20-9b1bd0616859
    - cd backend
    - railway up --service=helios-be-app -d

finally finished the dashboard
  backend/src/main/java/com/hva/helios/data/ProjectData.java
  backend/src/main/java/com/hva/helios/repositories/ProjectJPARepository.java
  backend/src/main/java/com/hva/helios/rest/ProjectController.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
  frontend/src/components/Chart/LineChart.vue
  frontend/src/components/Chart/PieChart.vue
  frontend/src/components/PageHeader.vue
  frontend/src/components/miscellaneous/sidebar/Sidebar.vue
  frontend/src/views/admin/dashboard.vue
Due: deploy_fe, deploy_be

current specialist to project are loaded
  backend/src/main/java/com/hva/helios/rest/UserController.java
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
Due: deploy_fe, deploy_be

fixxed specialist homepage button and specialist aankondigingen. also found a random i in the navbar i removed
  frontend/src/components/SpecialistNavbar.vue
  frontend/src/views/specialist/SpecialistHomePage.vue
  frontend/src/views/specialist/SpecialistProjectsOverview.vue
Due: deploy_fe

added create event to specialist side
  frontend/src/views/specialist/SpecialistProjectsOverview.vue
Due: deploy_fe

middleware and page for specialists who have yet to be approved created
  backend/src/main/java/com/hva/helios/data/UserData.java
  backend/src/main/java/com/hva/helios/models/record/LoginResponse.java
  backend/src/main/java/com/hva/helios/rest/AuthorizationController.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
  frontend/src/App.vue
  frontend/src/router/router.js
  frontend/src/views/Login.vue
  frontend/src/views/specialist/SpecialistPendingPage.vue
Due: deploy_fe, deploy_be

add specialist to projects
  frontend/src/router/router.js
  frontend/src/views/admin/project/AddSpecialistToProject.vue
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
Due: deploy_fe

new changes
  frontend/src/router/router.js
  frontend/src/views/admin/project/AddSpecialistToProject.vue
  frontend/src/views/admin/project/CreateNewProject.vue
  frontend/src/views/admin/project/projectSubmissions.vue
Due: deploy_fe

yea
  backend/src/main/java/com/hva/helios/HeliosApplication.java
  backend/src/main/java/com/hva/helios/data/AnnouncementData.java
  backend/src/main/java/com/hva/helios/models/Announcement.java
  backend/src/main/java/com/hva/helios/repositories/AnnouncementRepository.java
  backend/src/main/java/com/hva/helios/repositories/interfaces/jpa/ClientJPARepository.java
  backend/src/main/java/com/hva/helios/rest/AnnouncementController.java
  frontend/src/views/ProjectsOverview.vue
Due: deploy_fe, deploy_be

Added hashing of password
  backend/src/main/java/com/hva/helios/data/UserData.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
  backend/src/main/java/com/hva/helios/utilities/Authentication.java
Due: deploy_be

Added a UML
  helios
Due: none

Added a UML
  biggerUML.uml
Due: none

fixed announcement bug
  backend/src/main/java/com/hva/helios/notifications/NotificationDistributor.java
  backend/src/main/java/com/hva/helios/rest/AnnouncementController.java
  frontend/src/App.vue
  frontend/src/views/ProjectsOverview.vue
  frontend/src/views/RegisterPage.vue
Due: deploy_fe, deploy_be

Added 3 jest test files
  frontend/src/components/modals/CustomModal.vue
  frontend/src/components/modals/profile/EditUserInfoModal.vue
  frontend/src/components/modals/profile/SkillModal.vue
  frontend/src/components/modals/profile/UpcomingMeetingModal.vue
  frontend/src/test/dennis/SkillBadge.spec.js
  frontend/src/test/dennis/SkillModal.spec.js
  frontend/src/test/dennis/UpcomingMeetingModal.spec.js
Due: deploy_fe

wat de kaulo
  frontend/src/router/router.js
Due: deploy_fe

fixed something
  frontend/src/views/ProjectsOverview.vue
Due: deploy_fe

Couple front end changes
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
Due: deploy_fe

small changes
  frontend/src/views/admin/project/AddSpecialistToProject.vue
Due: deploy_fe

added hashing to authentication
  backend/src/main/java/com/hva/helios/rest/AuthorizationController.java
Due: deploy_be

fixed small bug
  frontend/src/views/admin/project/AddSpecialistToProject.vue
Due: deploy_fe

added hashing to authentication registration
  backend/src/main/java/com/hva/helios/rest/AuthorizationController.java
Due: deploy_be

Added a frontend hashing function
  frontend/src/plugins/authentication.js
  frontend/src/test/models/User.spec.js.txt
Due: deploy_fe

Added cryptojs
  frontend/package-lock.json
  frontend/package.json
Due: deploy_fe

Admin | create Specialist user
  backend/src/main/java/com/hva/helios/rest/UserController.java
  frontend/src/router/router.js
  frontend/src/views/admin/specialist/CreateSpecialist.vue
  frontend/src/views/admin/specialist/Specialists.vue
Due: deploy_fe, deploy_be

fixxed changing password on client side kaolo simone
  backend/src/main/java/com/hva/helios/rest/AuthorizationController.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
  frontend/src/views/ClientSettings.vue
Due: deploy_fe, deploy_be

My last save for today
  backend/pom.xml
  backend/src/main/java/com/hva/helios/HeliosApplication.java
  backend/src/test/java/com/hva/helios/HeliosApplicationTests.java
  backend/src/test/java/com/hva/helios/controllers/EventControllerTests.java
  backend/src/test/java/com/hva/helios/repositories/HourRepositoryTests.java
  frontend/src/components/SpecialistNavbar.vue
  frontend/src/components/miscellaneous/profile/AttachmentRow.vue
  frontend/src/router/router.js
  frontend/src/test/dennis/Availability.spec.js
  frontend/src/test/dennis/Profile.spec.js
  frontend/src/test/dennis/UpcomingMeeting.spec.js
  frontend/src/test/models/Profile.spec.js.txt
  frontend/src/views/admin/profile.vue
Due: deploy_fe, deploy_be

ik wil met pensioen laat me met rust
  frontend/src/views/ProjectsOverview.vue
  frontend/src/views/specialist/SpecialistProjectsOverview.vue
Due: deploy_fe

Specialisten on create project page
  frontend/src/router/router.js
  frontend/src/views/admin/project/CreateNewProject.vue
Due: deploy_fe

filter specialist on taggs
  frontend/src/views/admin/project/CreateNewProject.vue
Due: deploy_fe

did some password stuff on profile page
  frontend/src/components/modals/profile/EditUserInfoModal.vue
  frontend/src/views/admin/profile.vue
Due: deploy_fe

filter done
  backend/src/main/java/com/hva/helios/data/UserData.java
  frontend/src/views/admin/project/CreateNewProject.vue
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
  frontend/src/views/admin/project/projectEvent.vue
Due: deploy_fe, deploy_be

fixxed cv file upload
  frontend/src/views/RegisterPage.vue
Due: deploy_fe

fixxed preposition during registration
  frontend/src/views/RegisterPage.vue
Due: deploy_fe

changed position of password
  frontend/src/components/modals/profile/EditUserInfoModal.vue
Due: deploy_fe

aantal minuten bij events geplakt
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
  frontend/src/views/admin/project/projectEvent.vue
Due: deploy_fe

aantal min gefixed en totaal aantal min per project
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
Due: deploy_fe

remove edit button on events
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
Due: deploy_fe

paginatio
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
Due: deploy_fe

vertaling
  frontend/src/router/router.js
  frontend/src/views/admin/project/CreateNewProject.vue
Due: deploy_fe

onselect change background of specialist list
  frontend/src/components/admin/project/editProjectStatus.vue
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
Due: deploy_fe

temp remove edit status
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
Due: deploy_fe
