Repository onichan00/flo-school-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

.gitlab-ci.yml:

stages:
  - deploy

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - main
    changes:
      - "frontend/**/*"
  script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://railway.app/install.sh | sh
    - export RAILWAY_TOKEN=963abe25-642a-4bfc-ba20-6a60a7f2892d
    - cd frontend
    - railway up --service=helios-fe-app -d

deploy_be:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - main
    changes:
      - "backend/**/*"
  script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://railway.app/install.sh | sh
    - export RAILWAY_TOKEN=91a8fde9-8775-4b9d-bc20-9b1bd0616859
    - cd backend
    - railway up --service=helios-be-app -d

mvn stuff
  backend/pom.xml
Due: deploy_be

corsfaaaa
  backend/src/main/java/com/hva/helios/APIConfig.java
Due: deploy_be

edit status of project
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
Due: deploy_fe

removed file stuff cuz the path seems to be buggy
  backend/src/main/java/com/hva/helios/HeliosApplication.java
Due: deploy_be

testing shii with file
  backend/src/main/java/com/hva/helios/HeliosApplication.java
Due: deploy_be

testing shii with file pt2
  backend/src/main/java/com/hva/helios/HeliosApplication.java
Due: deploy_be

path test
  backend/src/main/java/com/hva/helios/HeliosApplication.java
Due: deploy_be

oops missed it
  backend/src/main/java/com/hva/helios/HeliosApplication.java
Due: deploy_be

fix
  backend/src/main/java/com/hva/helios/HeliosApplication.java
Due: deploy_be

test
  backend/src/main/java/com/hva/helios/HeliosApplication.java
Due: deploy_be

test2
  backend/src/main/java/com/hva/helios/HeliosApplication.java
Due: deploy_be

removed file stuff
  backend/src/main/java/com/hva/helios/HeliosApplication.java
Due: deploy_be

null check dumbasses how hard cna it be
  frontend/src/plugins/textManipulation.js
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
Due: deploy_fe

removed picture and centred stuff
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
Due: deploy_fe

nullcheck bannerUrl
  frontend/src/views/ProjectsOverview.vue
Due: deploy_fe

kak
  frontend/src/views/ProjectsOverview.vue
Due: deploy_fe

Specialist creation
  frontend/src/views/admin/specialist/CreateSpecialist.vue
Due: deploy_fe

help
  frontend/src/views/specialist/SpecialistProjectsOverview.vue
Due: deploy_fe

kak
  frontend/src/views/ProjectsOverview.vue
  frontend/src/views/specialist/SpecialistProjectsOverview.vue
Due: deploy_fe

push
  frontend/src/views/ProjectsOverview.vue
  frontend/src/views/specialist/SpecialistProjectsOverview.vue
Due: deploy_fe

removed the event form from specialis side and also fixxed bug with events
  backend/src/main/java/com/hva/helios/rest/EventController.java
  frontend/src/views/specialist/SpecialistProjectsOverview.vue
Due: deploy_fe, deploy_be

nee
  backend/src/main/java/com/hva/helios/data/ProjectData.java
  backend/src/main/java/com/hva/helios/data/UserData.java
Due: deploy_be

kaolo simon the destroyer
  backend/src/main/java/com/hva/helios/data/UserData.java
Due: deploy_be

websocket shit
  frontend/.env.production
  frontend/src/models/AnnouncementsAdaptor.js
Due: deploy_fe

websocket shit
  frontend/src/views/specialist/SpecialistProjectsOverview.vue
Due: deploy_fe

websocket shit
  frontend/.env.production
Due: deploy_fe

hellplpp
  backend/src/main/java/com/hva/helios/data/ProjectData.java
  backend/src/main/java/com/hva/helios/data/UserData.java
Due: deploy_be

websocket shit voor simon
  frontend/src/views/ProjectsOverview.vue
Due: deploy_fe

redeploy backend
  backend/src/main/java/com/hva/helios/data/UserData.java
  frontend/.env.development
Due: deploy_fe, deploy_be

Uploaded the technical documentation
  EWA_TECHNICAL_DOCUMENTATION.pdf
Due: none

Update README.md
  README.md
Due: none

tried to make some tests
  frontend/src/test/Simon/AnnouncementsAdaptorTest.spec.js
  frontend/src/test/Simon/Login.spec.js
  frontend/src/test/Simon/__snapshots__/ClientHomePage.spec.js.snap
  frontend/src/test/Simon/createProject.spec.js
  frontend/src/views/createProjects.vue
Due: deploy_fe

Added some tests
  backend/pom.xml
  backend/src/main/java/com/hva/helios/rest/EventController.java
  backend/src/test/java/com/hva/helios/controllers/EventControllerTests.java
  backend/src/test/java/com/hva/helios/repositories/EventRepositoryTest.java
  backend/src/test/java/com/hva/helios/repositories/HourRepositoryTests.java
  backend/src/test/java/com/hva/helios/utilities/AuthenticationTests.java
  frontend/src/plugins/textManipulation.js
  frontend/src/test/dennis/TextManipulation.spec.js
Due: deploy_fe, deploy_be

wrote some test for fe
  frontend/src/ModalTest.vue
  frontend/src/components/admin/AdminDetail.vue
  frontend/src/test/maajid/AdminDetailForm.spec.js
  frontend/src/test/maajid/CreateAdminForm.spec.js
Due: deploy_fe

me testen
  backend/src/main/java/com/hva/helios/repositories/ProjectJPARepository.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/hva/helios/controllers/ProjectControllerTests.java
  frontend/src/test/ilias/AdminCreateEventOnProject.spec.js
  frontend/src/test/ilias/AdminCreateProject.spec.js
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
Due: deploy_fe, deploy_be

got a couple of working tests now
  frontend/src/components/admin/AdminDetail.vue
  frontend/src/components/admin/AdminsTable.vue
  frontend/src/components/admin/CreateAdmins.vue
  frontend/src/test/maajid/AdminDetailForm.spec.js
  frontend/src/test/maajid/AdminTable.spec.js
  frontend/src/test/maajid/CreateAdminForm.spec.js
Due: deploy_fe

cleaned up tests and added comments
  frontend/src/test/maajid/AdminDetailForm.spec.js
  frontend/src/test/maajid/AdminTable.spec.js
  frontend/src/test/maajid/CreateAdminForm.spec.js
Due: deploy_fe

created file to test usercontroller
  backend/src/test/java/com/hva/helios/controllers/UserControllerTests.java
Due: deploy_be

i dont know broowwww
  backend/src/main/java/com/hva/helios/models/Announcement.java
  backend/src/main/java/com/hva/helios/models/Project.java
  backend/src/test/java/com/hva/helios/controllers/AnnouncementControllerTest.java
  backend/src/test/java/com/hva/helios/repositories/AnnouncementRepositoryTests.java
  frontend/src/test/Simon/AnnouncementsAdaptorTest.spec.js
  frontend/src/test/Simon/Dashboard.spec.js
  frontend/src/test/Simon/ProjectsOveriew.spec.js
Due: deploy_fe, deploy_be
