Repository onichan00/flo-school-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

.gitlab-ci.yml:

stages:
  - deploy

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - main
    changes:
      - "frontend/**/*"
  script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://railway.app/install.sh | sh
    - export RAILWAY_TOKEN=963abe25-642a-4bfc-ba20-6a60a7f2892d
    - cd frontend
    - railway up --service=helios-fe-app -d

deploy_be:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - main
    changes:
      - "backend/**/*"
  script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://railway.app/install.sh | sh
    - export RAILWAY_TOKEN=91a8fde9-8775-4b9d-bc20-9b1bd0616859
    - cd backend
    - railway up --service=helios-be-app -d

cors
  backend/src/main/java/com/hva/helios/APIConfig.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
Due: deploy_be

changed debug mode
  backend/src/main/resources/application.properties
Due: deploy_be

cors faaaa
  backend/src/main/java/com/hva/helios/APIConfig.java
Due: deploy_be

cors faaaaa
  frontend/.env.production
Due: deploy_fe

The last changes before the sprint review
  frontend/src/components/miscellaneous/profile/AvailabilityRow.vue
  frontend/src/components/miscellaneous/profile/MeetingType.vue
  frontend/src/components/miscellaneous/profile/UpcomingMeeting.vue
  frontend/src/views/admin/profile.vue
Due: deploy_fe

Changed the URL
  frontend/src/views/admin/profile.vue
Due: deploy_fe

add projects to the backend
  backend/src/main/java/com/hva/helios/data/ProjectData.java
  backend/src/main/java/com/hva/helios/models/Project.java
  backend/src/main/java/com/hva/helios/repositories/EntityRepository.java
  backend/src/main/java/com/hva/helios/repositories/ProjectJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/testRepo.java
  backend/src/main/java/com/hva/helios/rest/ProjectController.java
  frontend/src/App.vue
  frontend/src/assets/data/countries.json
  frontend/src/components/ClientNavbar.vue
  frontend/src/views/ProjectsOverview.vue
  frontend/src/views/createProjects.vue
Due: deploy_fe, deploy_be

version 2 of revamp
  backend/src/main/java/com/hva/helios/HeliosApplication.java
  backend/src/main/java/com/hva/helios/models/Project.java
  backend/src/main/java/com/hva/helios/models/User.java
  backend/src/main/java/com/hva/helios/models/user/Admin.java
  backend/src/main/java/com/hva/helios/models/user/Client.java
  backend/src/main/java/com/hva/helios/repositories/ProjectJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/testRepo.java
  backend/src/main/java/com/hva/helios/repositories/user/AdminJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/user/ClientJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/user/SpecialistJPARepository.java
  backend/src/main/java/com/hva/helios/rest/ProjectController.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
  backend/src/main/java/com/hva/helios/rest/user/AdminController.java
  backend/src/main/java/com/hva/helios/rest/user/ClientController.java
  backend/src/main/java/com/hva/helios/rest/user/SpecialistController.java
  backend/src/main/resources/data.sql
  frontend/src/components/admin/AdminsTable.vue
  frontend/src/components/admin/CreateAdmins.vue
Due: deploy_fe, deploy_be

fixed the skills backend and the projects backend
  backend/src/main/java/com/hva/helios/data/SkillData.java
  backend/src/main/java/com/hva/helios/models/Project.java
  backend/src/main/java/com/hva/helios/rest/ProjectController.java
  backend/src/main/resources/application.properties
  frontend/src/views/ClientHomePage.vue
  frontend/src/views/createProjects.vue
Due: deploy_fe, deploy_be

cleaned up the project creation to something more descriptive and readable, please read the inline comments and ask me if u dont understand @Simon
  backend/src/main/java/com/hva/helios/models/Project.java
  backend/src/main/java/com/hva/helios/rest/ProjectController.java
  frontend/src/views/createProjects.vue
Due: deploy_fe, deploy_be

as per usual ive done a fck ton of shit in this commit namely: - merged the dev into my branch to implement the user revamp - made more dummy data - implemented the new users in projects
  backend/src/main/java/com/hva/helios/HeliosApplication.java
  backend/src/main/java/com/hva/helios/models/user/Specialist.java
  backend/src/main/java/com/hva/helios/rest/ProjectController.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
  backend/src/main/resources/data.sql
Due: deploy_be

added some sort functies to the FE
  frontend/src/assets/img/tianyi-ma-WiONHd_zYI4-unsplash.jpg
  frontend/src/views/ProjectsOverview.vue
Due: deploy_fe

footer fix and filter
  frontend/src/App.vue
  frontend/src/components/ClientNavbar.vue
  frontend/src/components/Footer.vue
  frontend/src/views/ProjectsOverview.vue
Due: deploy_fe

started with the client settings page
  frontend/src/assets/img/undraw_coffee_with_friends_3cbj.svg
  frontend/src/components/ClientNavbar.vue
  frontend/src/router/router.js
  frontend/src/views/ClientSettings.vue
Due: deploy_fe

created updating for admins
  backend/src/main/java/com/hva/helios/rest/UserController.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/qwre.sql
  frontend/src/components/admin/AdminDetail.vue
  frontend/src/components/admin/CreateAdmins.vue
Due: deploy_fe, deploy_be

renamed the data.sql back so it initializes stuff, keep in mind to spam the create or whateer button a couple of times when this file gets used
  backend/src/main/resources/application.properties
  backend/src/main/resources/data.sql
Due: deploy_be

implemented delete for users, also changed some buttons and added some business logic
  backend/src/main/java/com/hva/helios/rest/UserController.java
  frontend/src/components/admin/AdminDetail.vue
  frontend/src/components/admin/AdminsTable.vue
  frontend/src/components/admin/CreateAdmins.vue
Due: deploy_fe, deploy_be

95% of the revamp is done
  backend/src/main/java/com/hva/helios/rest/UserController.java
  backend/src/main/resources/ALSDKJF.sql
  backend/src/main/resources/application.properties
Due: deploy_be

Use the right data in project page when creating
  backend/src/main/java/com/hva/helios/models/Project.java
  frontend/src/components/admin/project/projectCreateNew.vue
  frontend/src/plugins/textManipulation.js
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
  frontend/src/views/createProjects.vue
Due: deploy_fe, deploy_be

started with the client profile page, almost done
  frontend/src/assets/img/photo-1614850715649-1d0106293bd1.png
  frontend/src/components/ClientNavbar.vue
  frontend/src/router/router.js
  frontend/src/views/ClientProfile.vue
  frontend/src/views/ClientSettings.vue
  frontend/src/views/ProjectsOverview.vue
  frontend/src/views/createProjects.vue
Due: deploy_fe

started with the client profile page, almost done
  frontend/src/views/ClientProfile.vue
  frontend/src/views/ClientSettings.vue
Due: deploy_fe

Admin | specialist applications
  backend/src/main/java/com/hva/helios/models/user/Specialist.java
  backend/src/main/java/com/hva/helios/repositories/user/SpecialistJPARepository.java
  backend/src/main/java/com/hva/helios/rest/user/SpecialistApplicationsController.java
  backend/src/main/resources/ALSDKJF.sql
Due: deploy_be

Admin | specialist application overview
  backend/src/main/java/com/hva/helios/models/user/Specialist.java
  backend/src/main/java/com/hva/helios/repositories/user/SpecialistJPARepository.java
  backend/src/main/java/com/hva/helios/rest/user/SpecialistApplicationsController.java
Due: deploy_be

Admin | specialist applications overview
  frontend/src/components/SpecialistApplicationModal.vue
  frontend/src/components/SpecialistApplications.vue
Due: deploy_fe

Admin | specialist application overview
  backend/src/main/java/com/hva/helios/rest/user/SpecialistApplicationsController.java
  frontend/src/App.vue
  frontend/src/components/SpecialistApplicationModal.vue
  frontend/src/components/SpecialistApplications.vue
  frontend/src/models/specialist.js
Due: deploy_fe, deploy_be

File handling
  backend/src/main/java/com/hva/helios/rest/FilesController.java
  backend/src/main/resources/application.properties
Due: deploy_be

File handling
  backend/src/main/java/com/hva/helios/rest/FilesController.java
  frontend/src/components/SpecialistApplications.vue
Due: deploy_fe, deploy_be

Admin | specialist application overview
  backend/src/main/resources/RENAME-TO(data.sql).sql
  backend/src/main/resources/application.properties
  frontend/src/components/SpecialistApplicationModal.vue
Due: deploy_fe, deploy_be

File handling
  backend/src/main/java/com/hva/helios/models/FileModel.java
  backend/src/main/java/com/hva/helios/repositories/FileRepository.java
  backend/src/main/java/com/hva/helios/rest/FileController.java
  backend/src/main/java/com/hva/helios/rest/FilesController.java
Due: deploy_be

File handling
  backend/src/main/java/com/hva/helios/rest/FileController.java
  frontend/src/components/SpecialistApplications.vue
  frontend/src/components/fileHandling/FileList.vue
  frontend/src/components/fileHandling/FileUpload.vue
Due: deploy_fe, deploy_be

File handling
  frontend/src/assets/img/diskette.png
  frontend/src/components/SpecialistApplications.vue
  frontend/src/components/fileHandling/FileUpload.vue
Due: deploy_fe

finished client profile design
  frontend/src/views/ClientProfile.vue
Due: deploy_fe

quick fix for registering clients
  backend/src/main/java/com/hva/helios/rest/UserController.java
Due: deploy_be

added some sort functies to the FE
  frontend/src/views/ProjectsOverview.vue
Due: deploy_fe

footer fix and filter
  frontend/src/views/ProjectsOverview.vue
Due: deploy_fe

?
  backend/src/main/java/com/hva/helios/HeliosApplication.java
  backend/src/main/java/com/hva/helios/data/ClientData.java
  backend/src/main/java/com/hva/helios/data/UserData.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
  backend/src/main/resources/application.properties
  frontend/src/App.vue
  frontend/src/components/admin/AdminDetail.vue
  frontend/src/views/ClientSettings.vue
  frontend/src/views/ProjectsOverview.vue
Due: deploy_fe, deploy_be
