Repository onichan00/flo-school-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=963abe25-642a-4bfc-ba20-6a60a7f2892d
  - cd frontend
  - railway up --service=helios-fe-app -d

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=91a8fde9-8775-4b9d-bc20-9b1bd0616859
  - cd backend
  - railway up --service=helios-be-app -d

I think i fixed the recursion error
  backend/src/main/java/com/hva/helios/models/Event.java
  backend/src/main/java/com/hva/helios/models/Project.java
  backend/src/main/java/com/hva/helios/models/User.java
Due: deploy_be

add client to projects detail page
  backend/src/main/java/com/hva/helios/models/User.java
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
  frontend/src/views/admin/project/projectSubmissions.vue
Due: deploy_fe, deploy_be

Removed a slash that would cause errors
  frontend/.env.production
Due: deploy_fe

fixxed an issue where users werent displayed in postman when getting a project
  backend/src/main/java/com/hva/helios/models/Project.java
Due: deploy_be

Changed some stuff. Shady stuff
  backend/src/main/java/com/hva/helios/models/Project.java
  backend/src/main/java/com/hva/helios/models/User.java
  backend/src/main/java/com/hva/helios/models/user/hour/AvailableHour.java
  backend/src/main/java/com/hva/helios/models/user/hour/Hour.java
  backend/src/main/java/com/hva/helios/views/Views.java
  backend/src/main/resources/application.properties
Due: deploy_be

correct loading of specialistssss niffooo
  backend/src/main/resources/application.properties
  frontend/src/views/ProjectsOverview.vue
Due: deploy_fe, deploy_be

data now correctly gets initialized
  backend/src/main/java/com/hva/helios/HeliosApplication.java
  backend/src/main/java/com/hva/helios/data/UserData.java
  backend/src/main/resources/NOOIT MEER GEBRUIKEN.sql
  backend/src/main/resources/application.properties
Due: deploy_be

fixxed a bug where banners wouldnt get saved
  backend/src/main/java/com/hva/helios/models/Project.java
Due: deploy_be

profile fix YEEEEEE
  frontend/src/components/ClientNavbar.vue
  frontend/src/views/ClientProfile.vue
  frontend/src/views/ClientSettings.vue
Due: deploy_fe

gewoon wat vertalingen broer doe rustig
  frontend/src/views/Login.vue
  frontend/src/views/landingPage.vue
Due: deploy_fe

File handling (update for Simon)
  backend/src/main/java/com/hva/helios/rest/FileController.java
Due: deploy_be

Admin | update clients
  frontend/src/views/admin/client/clientSubmitions.vue
  frontend/src/views/admin/client/detailPageClients.vue
Due: deploy_fe

Admin | update clients
  backend/src/main/java/com/hva/helios/models/user/Client.java
Due: deploy_be

Sidebar collapse fix
  frontend/src/components/miscellaneous/sidebar/Sidebar.vue
  frontend/src/components/miscellaneous/sidebar/state.js
Due: deploy_fe

Admin | Client CRUD
  backend/src/main/java/com/hva/helios/rest/UserController.java
  frontend/src/router/router.js
  frontend/src/views/admin/client/ClientDetail.vue
  frontend/src/views/admin/client/ClientList.vue
  frontend/src/views/admin/client/CreateClient.vue
  frontend/src/views/admin/client/clientSubmitions.vue
  frontend/src/views/admin/client/detailPageClients.vue
Due: deploy_fe, deploy_be

Admin | Client CRUD
  backend/src/main/java/com/hva/helios/rest/UserController.java
  frontend/src/views/admin/client/ClientDetail.vue
Due: deploy_fe, deploy_be

Admin | Client CRUD
  frontend/src/views/admin/client/ClientDetail.vue
Due: deploy_fe

created the backend for specialist project overview, and cleaned up UserController.java a bit
  backend/src/main/java/com/hva/helios/rest/ProjectController.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
Due: deploy_be

90% of specialist side is done
  frontend/src/App.vue
  frontend/src/components/SpecialistNavbar.vue
  frontend/src/router/router.js
  frontend/src/views/Login.vue
  frontend/src/views/specialist/SpecialistHomePage.vue
  frontend/src/views/specialist/SpecialistProfile.vue
  frontend/src/views/specialist/SpecialistProjectsOverview.vue
  frontend/src/views/specialist/SpecialistSettings.vue
Due: deploy_fe

Admin | Client CRUD
  backend/src/main/java/com/hva/helios/rest/UserController.java
  frontend/src/views/admin/client/ClientDetail.vue
  frontend/src/views/admin/client/CreateClient.vue
Due: deploy_fe, deploy_be

Finished the meeting modal and list
  frontend/src/components/miscellaneous/profile/UpcomingMeeting.vue
  frontend/src/components/modals/profile/UpcomingMeetingModal.vue
  frontend/src/models/upcomingMeeting.js
Due: deploy_fe

Admin | Specialist application overview
  backend/src/main/java/com/hva/helios/rest/UserController.java
  backend/src/main/java/com/hva/helios/rest/user/SpecialistApplicationsController.java
  frontend/src/components/SpecialistApplicationModal.vue
  frontend/src/router/router.js
  frontend/src/views/admin/specialist/SpecialistApplications.vue
Due: deploy_fe, deploy_be

Reworked the constructor
  frontend/src/models/userSkill.js
Due: deploy_fe

Fixed the availability and projects in the profile
  frontend/src/components/admin/profile/ProjectCard.vue
  frontend/src/components/miscellaneous/profile/AvailabilityCard.vue
  frontend/src/components/miscellaneous/profile/AvailabilityRow.vue
  frontend/src/views/admin/profile.vue
Due: deploy_fe

adjusted the dashboard and project detail pages
  frontend/src/views/specialist/SpecialistHomePage.vue
  frontend/src/views/specialist/SpecialistProjectsOverview.vue
Due: deploy_fe

form for new event
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
Due: deploy_fe

prepped for implementing of profile view, but theres a bug so im waiting
  frontend/src/components/SpecialistNavbar.vue
  frontend/src/router/router.js
  frontend/src/views/ClientProfile.vue
Due: deploy_fe

finished the registration for specialists but can't figure out a way to upload a file :(
  backend/src/main/java/com/hva/helios/rest/UserController.java
  frontend/src/views/Login.vue
  frontend/src/views/ProjectsOverview.vue
  frontend/src/views/RegisterPage.vue
Due: deploy_fe, deploy_be

fix merge conflict and use new rest api
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
  frontend/src/views/admin/project/projectEvent.vue
Due: deploy_fe

Added two null checks
  backend/src/main/java/com/hva/helios/rest/FileController.java
Due: deploy_be

Fixed the last things in my profile
  backend/src/main/java/com/hva/helios/HeliosApplication.java
  backend/src/main/java/com/hva/helios/models/Event.java
  backend/src/main/java/com/hva/helios/models/user/hour/AvailableHour.java
  backend/src/main/java/com/hva/helios/rest/EventController.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
  backend/src/main/resources/cvData.txt
  frontend/src/components/miscellaneous/profile/AttachmentRow.vue
  frontend/src/components/miscellaneous/profile/AvailabilityCard.vue
  frontend/src/components/miscellaneous/profile/AvailabilityRow.vue
  frontend/src/components/modals/profile/EditUserInfoModal.vue
  frontend/src/components/modals/profile/SkillModal.vue
  frontend/src/models/upcomingMeeting.js
  frontend/src/views/admin/profile.vue
Due: deploy_fe, deploy_be

Added a check to disable times. You cant start after you end
  frontend/src/components/modals/profile/UpcomingMeetingModal.vue
Due: deploy_fe

new changes
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
Due: deploy_fe

registratie finaly completely finished
  frontend/src/views/RegisterPage.vue
Due: deploy_fe

yea
  backend/src/main/java/com/hva/helios/rest/UserController.java
  frontend/src/App.vue
  frontend/src/assets/img/undraw_programming_re_kg9v.svg
  frontend/src/views/ClientSettings.vue
  frontend/src/views/specialist/SpecialistHomePage.vue
Due: deploy_fe, deploy_be

changed navbar zindex so things dont overlay it also implemented the specialist profile
  frontend/src/components/SpecialistNavbar.vue
  frontend/src/router/router.js
Due: deploy_fe

Newest version of the UML
  Diagram 2023-01-09 19-34-49.uxf
Due: none

create new event works now\
  backend/src/main/java/com/hva/helios/rest/UserController.java
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
Due: deploy_fe, deploy_be

feedback on create event
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
Due: deploy_fe

Path conditions:
  deploy_fe: any of: frontend/**/*
  deploy_be: any of: backend/**/*
