Repository onichan00/flo-school-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=963abe25-642a-4bfc-ba20-6a60a7f2892d
  - cd frontend
  - railway up --service=helios-fe-app -d

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=91a8fde9-8775-4b9d-bc20-9b1bd0616859
  - cd backend
  - railway up --service=helios-be-app -d

wrote some test for be
  backend/src/test/java/com/hva/helios/controllers/AuthorizationControllerTests.java
  backend/src/test/java/com/hva/helios/controllers/UserControllerTests.java
  backend/src/test/java/com/hva/helios/repositories/UserRepositoryTests.java
  frontend/src/test/maajid/CreateAdminForm.spec.js
Due: deploy_fe, deploy_be

wrote some javadoc for be
  backend/src/main/java/com/hva/helios/rest/UserController.java
Due: deploy_be

cleaned up the code and fixxed a tiny little bug i found
  backend/src/main/java/com/hva/helios/rest/UserController.java
  frontend/src/components/admin/AdminDetail.vue
  frontend/src/components/admin/CreateAdmins.vue
Due: deploy_fe, deploy_be

added last javadocs and fixxed a last bug
  backend/src/main/java/com/hva/helios/rest/AuthorizationController.java
  frontend/src/views/RegisterPage.vue
Due: deploy_fe, deploy_be

Pray for me
  frontend/src/components/miscellaneous/profile/AttachmentRow.vue
  frontend/src/components/modals/profile/SkillModal.vue
  frontend/src/test/dennis/AttachmentRow.spec.js
  frontend/src/views/admin/profile.vue
Due: deploy_fe

WIP
  backend/pom.xml
  backend/src/main/java/com/hva/helios/models/FileModel.java
  backend/src/main/java/com/hva/helios/models/User.java
  backend/src/main/java/com/hva/helios/models/user/Specialist.java
  backend/src/main/java/com/hva/helios/rest/FileController.java
  backend/src/main/java/com/hva/helios/utilities/DataLoader.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/hva/helios/HeliosApplicationTests.java
  backend/src/test/java/com/hva/helios/controllers/EventControllerTests.java
  backend/src/test/java/com/hva/helios/models/FileModelTest.java
  backend/src/test/java/com/hva/helios/repositories/FileJPARepositoryTest.java
  backend/src/test/java/com/hva/helios/repositories/HourRepositoryTests.java
  backend/src/test/java/com/hva/helios/rest/FileControllerTest.java
  backend/src/test/java/com/hva/helios/rest/UserControllerTest.java
Due: deploy_be

WIP
  backend/src/main/java/com/hva/helios/rest/FileController.java
  backend/src/test/java/com/hva/helios/rest/FileControllerTest.java
Due: deploy_be

Back-end tests finished
  backend/src/main/java/com/hva/helios/models/FileModel.java
  backend/src/main/java/com/hva/helios/models/User.java
  backend/src/main/java/com/hva/helios/models/user/Client.java
  backend/src/main/java/com/hva/helios/models/user/Specialist.java
  backend/src/main/java/com/hva/helios/rest/FileController.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
  backend/src/main/java/com/hva/helios/utilities/DataLoader.java
  backend/src/test/java/com/hva/helios/models/FileModelTest.java
  backend/src/test/java/com/hva/helios/models/UserTest.java
  backend/src/test/java/com/hva/helios/repositories/FileJPARepositoryTest.java
  backend/src/test/java/com/hva/helios/rest/FileControllerTest.java
  backend/src/test/java/com/hva/helios/rest/UserControllerTest.java
Due: deploy_be

Cleanup and config
  backend/src/test/java/com/hva/helios/models/FileModelTest.java
  backend/src/test/java/com/hva/helios/repositories/FileJPARepositoryTest.java
  backend/src/test/java/com/hva/helios/rest/UserControllerTest.java
Due: deploy_be

WIP
  backend/src/test/java/com/hva/helios/repositories/FileJPARepositoryTest.java
  frontend/jest-media-transformer.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/mocks/handlers.js
  frontend/src/mocks/server.js
  frontend/src/test/dennis/SkillBadge.spec.js
  frontend/src/test/dennis/SkillModal.spec.js
  frontend/src/test/dennis/UpcomingMeetingModal.spec.js
  frontend/src/test/unit/SpecialistApplications.spec.js
  frontend/src/views/admin/specialist/SpecialistApplications.vue
Due: deploy_fe, deploy_be

more WIP
  frontend/src/mocks/handlers.js
  frontend/src/views/admin/specialist/SpecialistApplications.vue
Due: deploy_fe

Path conditions:
  deploy_fe: any of: frontend/**/*
  deploy_be: any of: backend/**/*
