Repository onichan00/flo-school-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

.gitlab-ci.yml:

stages:
  - deploy

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - main
    changes:
      - "frontend/**/*"
  script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://railway.app/install.sh | sh
    - export RAILWAY_TOKEN=963abe25-642a-4bfc-ba20-6a60a7f2892d
    - cd frontend
    - railway up --service=helios-fe-app -d

deploy_be:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - main
    changes:
      - "backend/**/*"
  script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://railway.app/install.sh | sh
    - export RAILWAY_TOKEN=91a8fde9-8775-4b9d-bc20-9b1bd0616859
    - cd backend
    - railway up --service=helios-be-app -d

almost finished settings page
  frontend/src/views/ClientSettings.vue
Due: deploy_fe

ok
  frontend/src/views/ClientSettings.vue
Due: deploy_fe

Made some more changes
  backend/src/main/java/com/hva/helios/HeliosApplication.java
  backend/src/main/java/com/hva/helios/models/user/Event.java
  backend/src/main/java/com/hva/helios/models/user/Specialist.java
  backend/src/main/java/com/hva/helios/repositories/ProjectJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/SkillJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/testRepo.java
  backend/src/main/java/com/hva/helios/repositories/user/AdminJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/user/AvailableHourJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/user/ClientJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/user/SpecialistJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/user/UserJPARepository.java
  backend/src/main/java/com/hva/helios/rest/HourController.java
  backend/src/main/java/com/hva/helios/rest/ProjectController.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
  backend/src/main/resources/application.properties
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ModalTest.vue
  frontend/src/components/miscellaneous/profile/AvailabilityRow.vue
  frontend/src/test/dennis/Availability.spec.js
  frontend/src/test/dennis/SkillBadge.spec.js
  frontend/src/test/dennis/UpcomingMeeting.spec.js
  frontend/src/test/models/Profile.spec.js.txt
  frontend/src/test/models/User.spec.js.txt
  frontend/src/views/admin/profile.vue
  frontend/tailwind.config.js
  frontend/yarn.lock
  ye
Due: deploy_fe, deploy_be

finished the client settings page
  frontend/src/views/ClientSettings.vue
Due: deploy_fe

okay now i finished it, I pranked you guys
  frontend/src/views/ClientSettings.vue
Due: deploy_fe

File handling
  frontend/src/components/SpecialistApplications.vue
  frontend/src/components/fileHandling/FileList.vue
Due: deploy_fe

fixed the registration
  backend/src/main/java/com/hva/helios/models/User.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
  frontend/src/views/RegisterPage.vue
  frontend/src/views/admin/dashboard.vue
Due: deploy_fe, deploy_be

File handling
  backend/src/main/java/com/hva/helios/models/FileModel.java
  backend/src/main/java/com/hva/helios/repositories/FileJPARepository.java
  backend/src/main/java/com/hva/helios/rest/FileController.java
  frontend/src/components/fileHandling/FileList.vue
  frontend/src/components/fileHandling/FileUpload.vue
Due: deploy_fe, deploy_be

File handling
  frontend/src/components/fileHandling/FileList.vue
Due: deploy_fe

File handling
  frontend/src/components/fileHandling/FileList.vue
  frontend/src/components/fileHandling/FileUpload.vue
Due: deploy_fe

implemented Web Sockets Backend :) :) :) maajid je bent een lul
  backend/pom.xml
  backend/src/main/java/com/hva/helios/APIConfig.java
  backend/src/main/java/com/hva/helios/notifications/AnnouncementDistributor.java
  backend/src/main/java/com/hva/helios/notifications/NotificationDistributor.java
  backend/src/main/resources/application.properties
  frontend/src/models/AnnouncementsAdaptor.js
  frontend/src/models/NotificationAdaptor.js
  frontend/src/views/ProjectsOverview.vue
  frontend/src/views/RegisterPage.vue
Due: deploy_fe, deploy_be

Mid way save
  backend/src/main/java/com/hva/helios/HeliosApplication.java
  backend/src/main/java/com/hva/helios/data/EventData.java
  backend/src/main/java/com/hva/helios/data/ProjectData.java
  backend/src/main/java/com/hva/helios/data/SkillData.java
  backend/src/main/java/com/hva/helios/exceptions/PreConditionFailed.java
  backend/src/main/java/com/hva/helios/models/Project.java
  backend/src/main/java/com/hva/helios/models/User.java
  backend/src/main/java/com/hva/helios/models/enums/EventType.java
  backend/src/main/java/com/hva/helios/models/record/LoginBody.java
  backend/src/main/java/com/hva/helios/models/record/LoginResponse.java
  backend/src/main/java/com/hva/helios/models/user/Event.java
  backend/src/main/java/com/hva/helios/models/user/Specialist.java
  backend/src/main/java/com/hva/helios/models/user/hour/AvailableHour.java
  backend/src/main/java/com/hva/helios/models/user/hour/Hour.java
  backend/src/main/java/com/hva/helios/repositories/HourJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/ProjectJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/SkillJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/interfaces/EntityRepository.java
  backend/src/main/java/com/hva/helios/repositories/interfaces/jpa/AdminJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/interfaces/jpa/ClientJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/interfaces/jpa/EventJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/interfaces/jpa/SpecialistJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/interfaces/jpa/UserJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/interfaces/testRepo.java
  backend/src/main/java/com/hva/helios/repositories/user/AvailableHourJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/user/UserSkillJPARepository.java
  backend/src/main/java/com/hva/helios/rest/HourController.java
  backend/src/main/java/com/hva/helios/rest/ProjectController.java
  backend/src/main/java/com/hva/helios/rest/SkillController.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
  backend/src/main/java/com/hva/helios/rest/user/AdminController.java
  backend/src/main/java/com/hva/helios/rest/user/ClientController.java
  backend/src/main/java/com/hva/helios/rest/user/SpecialistController.java
  backend/src/main/java/com/hva/helios/views/Views.java
  frontend/src/components/miscellaneous/profile/AvailabilityRow.vue
  frontend/src/views/admin/profile.vue
Due: deploy_fe, deploy_be

Finished the first version of the backend for the event entity
  backend/src/main/java/com/hva/helios/HeliosApplication.java
  backend/src/main/java/com/hva/helios/data/EventData.java
  backend/src/main/java/com/hva/helios/models/Event.java
  backend/src/main/java/com/hva/helios/models/Project.java
  backend/src/main/java/com/hva/helios/models/user/Specialist.java
  backend/src/main/java/com/hva/helios/repositories/interfaces/jpa/EventJPARepository.java
  backend/src/main/java/com/hva/helios/rest/EventController.java
  backend/src/main/java/com/hva/helios/rest/user/AdminController.java
  backend/src/main/java/com/hva/helios/rest/user/ClientController.java
  backend/src/main/java/com/hva/helios/rest/user/SpecialistController.java
Due: deploy_be

Created three more modals (WIP)
  backend/src/main/java/com/hva/helios/HeliosApplication.java
  backend/src/main/java/com/hva/helios/data/EventData.java
  backend/src/main/java/com/hva/helios/models/user/Specialist.java
  backend/src/main/java/com/hva/helios/models/user/skill/UserSkill.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
  backend/src/main/java/com/hva/helios/views/Views.java
  frontend/package-lock.json
  frontend/src/components/miscellaneous/profile/AvailabilityRow.vue
  frontend/src/components/miscellaneous/profile/UpcomingMeeting.vue
  frontend/src/components/modals/CustomModal.vue
  frontend/src/components/modals/profile/EditUserInfoModal.vue
  frontend/src/components/modals/profile/SkillModal.vue
  frontend/src/components/modals/profile/UpcomingMeetingModal.vue
  frontend/src/main.js
  frontend/src/views/admin/profile.vue
  frontend/yarn.lock
Due: deploy_fe, deploy_be

chat ui created :)
  frontend/src/views/ProjectsOverview.vue
Due: deploy_fe

ja man ja
  backend/src/main/java/com/hva/helios/notifications/AnnouncementDistributor.java
  frontend/src/models/AnnouncementsAdaptor.js
  frontend/src/models/NotificationAdaptor.js
  frontend/src/views/ProjectsOverview.vue
Due: deploy_fe, deploy_be

ja man ja
  frontend/src/App.vue
  frontend/src/views/RegisterPage.vue
Due: deploy_fe

Got a few working controllers
  backend/src/main/java/com/hva/helios/models/Event.java
  backend/src/main/java/com/hva/helios/models/Project.java
  backend/src/main/java/com/hva/helios/models/user/Specialist.java
  backend/src/main/java/com/hva/helios/rest/EventController.java
  backend/src/main/java/com/hva/helios/rest/ProjectController.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
  backend/src/main/resources/ALSDKJF.sql
  frontend/src/components/modals/profile/EditUserInfoModal.vue
  frontend/src/components/modals/profile/SkillModal.vue
  frontend/src/models/userSkill.js
  frontend/src/test/dennis/Profile.spec.js
  frontend/src/views/admin/profile.vue
Due: deploy_fe, deploy_be

File handling and specialist application overview
  frontend/src/components/SpecialistApplications.vue
  frontend/src/components/fileHandling/FileUpload.vue
Due: deploy_fe

Admin | update clients
  backend/src/main/java/com/hva/helios/models/user/Client.java
  backend/src/main/java/com/hva/helios/repositories/user/ClientJPARepository.java
  backend/src/main/java/com/hva/helios/rest/user/ClientController.java
Due: deploy_be

started with implementing the dashboards backend
  frontend/src/components/Chart/PieChart.vue
  frontend/src/views/admin/dashboard.vue
Due: deploy_fe

added a email service for clients
  backend/pom.xml
  backend/src/main/java/com/hva/helios/notifications/AnnouncementDistributor.java
  backend/src/main/java/com/hva/helios/notifications/EmailService.java
  backend/src/main/java/com/hva/helios/rest/EmailController.java
  backend/src/main/resources/application.properties
  frontend/src/views/ProjectsOverview.vue
Due: deploy_fe, deploy_be

Ja idk
  backend/src/main/java/com/hva/helios/models/Project.java
  backend/src/main/java/com/hva/helios/models/user/Specialist.java
  backend/src/main/java/com/hva/helios/models/user/skill/Skill.java
  backend/src/main/java/com/hva/helios/rest/ProjectController.java
Due: deploy_be

fix merge conflict
  backend/src/main/resources/application.properties
  backend/src/main/resources/data.sql
Due: deploy_be

Fixed some import errors after the merge
  backend/src/main/java/com/hva/helios/HeliosApplication.java
  backend/src/main/java/com/hva/helios/repositories/interfaces/jpa/SpecialistJPARepository.java
  backend/src/main/java/com/hva/helios/repositories/user/SpecialistJPARepository.java
  backend/src/main/java/com/hva/helios/rest/user/SpecialistApplicationsController.java
  backend/src/main/resources/data.sql
Due: deploy_be

Temporary fix for dashboard page
  frontend/src/views/admin/dashboard.vue
Due: deploy_fe

Another fix because of a merge
  frontend/src/App.vue
Due: deploy_fe

Admin | update clients
  backend/src/main/java/com/hva/helios/models/user/Client.java
Due: deploy_be

Sidebar collapse fix
  frontend/src/components/miscellaneous/sidebar/Sidebar.vue
  frontend/src/components/miscellaneous/sidebar/state.js
Due: deploy_fe

Admin | update clients
  frontend/src/views/admin/client/clientSubmitions.vue
  frontend/src/views/admin/client/detailPageClients.vue
Due: deploy_fe

add goedkeuren van events
  frontend/package-lock.json
  frontend/src/components/Projects/ProjectsDetail.vue
  frontend/src/router/router.js
  frontend/src/views/admin/project/ProjectSubmissionsDetail.vue
  frontend/src/views/admin/project/projectEvent.vue
Due: deploy_fe

Added a patch mapping to update the accepted status
  backend/src/main/java/com/hva/helios/rest/EventController.java
Due: deploy_be

Added a bit of docs
  backend/src/main/java/com/hva/helios/rest/EventController.java
Due: deploy_be

added some comments and quick fix of profile
  backend/src/main/java/com/hva/helios/data/SkillData.java
  backend/src/main/java/com/hva/helios/models/FileModel.java
  backend/src/main/java/com/hva/helios/models/Project.java
  backend/src/main/java/com/hva/helios/notifications/AnnouncementDistributor.java
  backend/src/main/java/com/hva/helios/rest/EmailController.java
  frontend/package-lock.json
  frontend/src/components/fileHandling/FileUpload.vue
  frontend/src/views/ClientProfile.vue
  frontend/src/views/ClientSettings.vue
  frontend/src/views/RegisterPage.vue
Due: deploy_fe, deploy_be

specialist registration works
  backend/src/main/java/com/hva/helios/HeliosApplication.java
  backend/src/main/java/com/hva/helios/models/user/Specialist.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
  frontend/src/views/RegisterPage.vue
Due: deploy_fe, deploy_be

om projecten aanmaken werkend te houden moet: - datasql uitgeschakeld zijn en dus ook 3 functies uit HeliosApplication.java - ook moet het id van project geinitializeerd zijn? raar maar idk
  backend/src/main/java/com/hva/helios/HeliosApplication.java
  backend/src/main/java/com/hva/helios/models/Project.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/qwerq.sql
Due: deploy_be

specialists are loading now yea
  backend/src/main/java/com/hva/helios/models/Project.java
  backend/src/main/java/com/hva/helios/models/User.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
  backend/src/main/resources/data.sql
  frontend/src/views/ProjectsOverview.vue
Due: deploy_fe, deploy_be

Added a function to update and delete a user skill
  backend/src/main/java/com/hva/helios/APIConfig.java
  backend/src/main/java/com/hva/helios/models/user/Specialist.java
  backend/src/main/java/com/hva/helios/models/user/skill/UserSkill.java
  backend/src/main/java/com/hva/helios/rest/UserController.java
Due: deploy_be

Added JSDoc
  frontend/src/plugins/objectManipulation.js
  frontend/src/plugins/textManipulation.js
Due: deploy_fe

Finished the skill modal and badge
  frontend/src/components/miscellaneous/profile/SkillBadge.vue
  frontend/src/components/modals/profile/SkillModal.vue
Due: deploy_fe
